.banner .toolbar {
    margin-bottom: 20px;
}

.banner-uploader {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 178px;
    height: 178px;
}

.banner-uploader:hover {
    border-color: #409EFF;
}

.banner-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
}

.banner-image {
    width: 178px;
    height: 178px;
    display: block;
} 